In [1]:
%load_ext autoreload
%autoreload 2

%load_ext line_profiler

In [2]:
import pandas as pd
import numpy as np

import  matplotlib.pyplot as plt
import pickle

from chemistry import Molecule
from util import score
from pprint import pprint

In [3]:
with open('../data/molecules_enh.pickle', 'rb') as f:
    molecules = pickle.load(f)

In [4]:
structures = pd.read_feather('../data/structures_enh.feather')
molecules_df = pd.read_feather('../data/molecules.feather')
labelled = pd.read_feather('../data/train.feather')
unlabelled = pd.read_feather('../data/test.feather')

/home/gautham/apps/anaconda3/envs/kaggle/lib/python3.7/site-packages/pyarrow/pandas_compat.py:752: FutureWarning:

.labels was deprecated in version 0.24.0. Use .codes instead.

In [5]:
dipole_moments = pd.read_feather('../data/dipole_moments.feather')
magnetic_shielding_tensors = pd.read_feather('../data/magnetic_shielding_tensors.feather')
mulliken_charges = pd.read_feather('../data/mulliken_charges.feather')
potential_energy = pd.read_feather('../data/potential_energy.feather')
scalar_coupling_contributions = pd.read_feather('../data/scalar_coupling_contributions.feather')

In [6]:
labelled_enh = labelled.merge(molecules_df, left_on='molecule_name', right_on='molecule_name')
labelled_enh.head(32)

,id,molecule_name,atom_index_0,atom_index_1,type,scalar_coupling_constant,nC,nF,nH,nN,nO,nCNOF,nCN,nOF,nAtoms
0,0,dsgdb9nsd_000001,1,0,1JHC,84.807602,1,0,4,0,0,1,1,0,5
1,1,dsgdb9nsd_000001,1,2,2JHH,-11.257000,1,0,4,0,0,1,1,0,5
2,2,dsgdb9nsd_000001,1,3,2JHH,-11.254800,1,0,4,0,0,1,1,0,5
3,3,dsgdb9nsd_000001,1,4,2JHH,-11.254300,1,0,4,0,0,1,1,0,5
4,4,dsgdb9nsd_000001,2,0,1JHC,84.807404,1,0,4,0,0,1,1,0,5
5,5,dsgdb9nsd_000001,2,3,2JHH,-11.254100,1,0,4,0,0,1,1,0,5
6,6,dsgdb9nsd_000001,2,4,2JHH,-11.254800,1,0,4,0,0,1,1,0,5
7,7,dsgdb9nsd_000001,3,0,1JHC,84.809303,1,0,4,0,0,1,1,0,5
8,8,dsgdb9nsd_000001,3,4,2JHH,-11.254300,1,0,4,0,0,1,1,0,5
9,9,dsgdb9nsd_000001,4,0,1JHC,84.809502,1,0,4,0,0,1,1,0,5
10,10,dsgdb9nsd_000002,1,0,1JHN,32.688900,0,0,3,1,0,1,1,0,4
11,11,dsgdb9nsd_000002,1,2,2JHH,-11.186600,0,0,3,1,0,1,1,0,4
12,12,dsgdb9nsd_000002,1,3,2JHH,-11.175700,0,0,3,1,0,1,1,0,4
13,13,dsgdb9nsd_000002,2,0,1JHN,32.689098,0,0,3,1,0,1,1,0,4
14,14,dsgdb9nsd_000002,2,3,2JHH,-11.175800,0,0,3,1,0,1,1,0,4
15,15,dsgdb9nsd_000002,3,0,1JHN,32.690498,0,0,3,1,0,1,1,0,4
16,16,dsgdb9nsd_000003,1,2,2JHH,-9.946410,0,0,2,0,1,1,0,1,3
17,17,dsgdb9nsd_000005,2,0,1JHC,171.220001,1,0,1,1,0,2,2,0,3
18,18,dsgdb9nsd_000005,2,1,2JHN,5.182460,1,0,1,1,0,2,2,0,3
19,19,dsgdb9nsd_000007,2,0,1JHC,83.542900,2,0,6,0,0,2,2,0,8
20,20,dsgdb9nsd_000007,2,1,2JHC,-2.378310,2,0,6,0,0,2,2,0,8
21,21,dsgdb9nsd_000007,2,3,2JHH,-11.700500,2,0,6,0,0,2,2,0,8
22,22,dsgdb9nsd_000007,2,4,2JHH,-11.697900,2,0,6,0,0,2,2,0,8
23,23,dsgdb9nsd_000007,2,5,3JHH,3.252810,2,0,6,0,0,2,2,0,8
24,24,dsgdb9nsd_000007,2,6,3JHH,13.691300,2,0,6,0,0,2,2,0,8
25,25,dsgdb9nsd_000007,2,7,3JHH,3.252050,2,0,6,0,0,2,2,0,8
26,26,dsgdb9nsd_000007,3,0,1JHC,83.541702,2,0,6,0,0,2,2,0,8
27,27,dsgdb9nsd_000007,3,1,2JHC,-2.378620,2,0,6,0,0,2,2,0,8
28,28,dsgdb9nsd_000007,3,4,2JHH,-11.699600,2,0,6,0,0,2,2,0,8
29,29,dsgdb9nsd_000007,3,5,3JHH,13.692400,2,0,6,0,0,2,2,0,8
30,30,dsgdb9nsd_000007,3,6,3JHH,3.252530,2,0,6,0,0,2,2,0,8
31,31,dsgdb9nsd_000007,3,7,3JHH,3.252720,2,0,6,0,0,2,2,0,8

In [7]:
unlabelled_enh = unlabelled.merge(molecules_df, left_on='molecule_name', right_on='molecule_name')
unlabelled_enh.head(32)

,id,molecule_name,atom_index_0,atom_index_1,type,nC,nF,nH,nN,nO,nCNOF,nCN,nOF,nAtoms
0,4658147,dsgdb9nsd_000004,2,0,2JHC,2,0,2,0,0,2,2,0,4
1,4658148,dsgdb9nsd_000004,2,1,1JHC,2,0,2,0,0,2,2,0,4
2,4658149,dsgdb9nsd_000004,2,3,3JHH,2,0,2,0,0,2,2,0,4
3,4658150,dsgdb9nsd_000004,3,0,1JHC,2,0,2,0,0,2,2,0,4
4,4658151,dsgdb9nsd_000004,3,1,2JHC,2,0,2,0,0,2,2,0,4
5,4658152,dsgdb9nsd_000015,3,0,1JHC,2,0,6,0,1,3,2,1,9
6,4658153,dsgdb9nsd_000015,3,2,3JHC,2,0,6,0,1,3,2,1,9
7,4658154,dsgdb9nsd_000015,3,4,2JHH,2,0,6,0,1,3,2,1,9
8,4658155,dsgdb9nsd_000015,3,5,2JHH,2,0,6,0,1,3,2,1,9
9,4658156,dsgdb9nsd_000015,4,0,1JHC,2,0,6,0,1,3,2,1,9
10,4658157,dsgdb9nsd_000015,4,2,3JHC,2,0,6,0,1,3,2,1,9
11,4658158,dsgdb9nsd_000015,4,5,2JHH,2,0,6,0,1,3,2,1,9
12,4658159,dsgdb9nsd_000015,5,0,1JHC,2,0,6,0,1,3,2,1,9
13,4658160,dsgdb9nsd_000015,5,2,3JHC,2,0,6,0,1,3,2,1,9
14,4658161,dsgdb9nsd_000015,6,0,3JHC,2,0,6,0,1,3,2,1,9
15,4658162,dsgdb9nsd_000015,6,2,1JHC,2,0,6,0,1,3,2,1,9
16,4658163,dsgdb9nsd_000015,6,7,2JHH,2,0,6,0,1,3,2,1,9
17,4658164,dsgdb9nsd_000015,6,8,2JHH,2,0,6,0,1,3,2,1,9
18,4658165,dsgdb9nsd_000015,7,0,3JHC,2,0,6,0,1,3,2,1,9
19,4658166,dsgdb9nsd_000015,7,2,1JHC,2,0,6,0,1,3,2,1,9
20,4658167,dsgdb9nsd_000015,7,8,2JHH,2,0,6,0,1,3,2,1,9
21,4658168,dsgdb9nsd_000015,8,0,3JHC,2,0,6,0,1,3,2,1,9
22,4658169,dsgdb9nsd_000015,8,2,1JHC,2,0,6,0,1,3,2,1,9
23,4658170,dsgdb9nsd_000016,3,0,1JHC,3,0,6,0,0,3,3,0,9
24,4658171,dsgdb9nsd_000016,3,1,2JHC,3,0,6,0,0,3,3,0,9
25,4658172,dsgdb9nsd_000016,3,2,2JHC,3,0,6,0,0,3,3,0,9
26,4658173,dsgdb9nsd_000016,3,4,2JHH,3,0,6,0,0,3,3,0,9
27,4658174,dsgdb9nsd_000016,3,5,3JHH,3,0,6,0,0,3,3,0,9
28,4658175,dsgdb9nsd_000016,3,6,3JHH,3,0,6,0,0,3,3,0,9
29,4658176,dsgdb9nsd_000016,3,7,3JHH,3,0,6,0,0,3,3,0,9
30,4658177,dsgdb9nsd_000016,3,8,3JHH,3,0,6,0,0,3,3,0,9
31,4658178,dsgdb9nsd_000016,4,0,1JHC,3,0,6,0,0,3,3,0,9

In [ ]:
len(labelled), len(labelled_enh)

In [ ]:
from models import NNModel, partition_data

#data_df = labelled[labelled.type == '1JHC'].head(10)
data_df = labelled_enh.head(1000)
train_df, test_df = partition_data(data_df, train_frac=1)
train_df = train_df.copy()
        
model = NNModel(model_args = dict(molecules=molecules,
                                  structures=structures))
#model.corr(train_df, train_df)
model.setup_data(train_df, train_df)

In [ ]:
model.structures.columns

In [ ]:
model.input_df.columns

In [ ]:
model.input_df.dtypes

In [ ]:
labelled_enh.head()

In [ ]:
import itertools

In [ ]:
df = labelled_enh.head(32)

In [ ]:
#df[['molecule_name']].merge(dipole_moments, left_on='molecule_name', right_on='molecule_name')

In [8]:
from types import SimpleNamespace
nn_args = SimpleNamespace(dipole_moments=dipole_moments,
                          magnetic_shielding_tensors=magnetic_shielding_tensors,
                          mulliken_charges=mulliken_charges,
                          potential_energy=potential_energy,
                          scalar_coupling_contributions=scalar_coupling_contributions)

In [ ]:
### from models import NNModel
from models import partition_data, NNModel

# import tensorflow as tf
# from tensorflow.keras import backend as tfbe

# tf.reset_default_graph()

# atom_count_ranges = [(1, 10), (11, 15), (16, 20), (21, 25), (26, 30)]
# C_count_ranges = [(1, 5), (6, 6), (7, 7), (8, 9)]
coupling_types = sorted(labelled_enh.type.unique())[0:1]
def test(data, count=5000):
    global model
    
    plt.figure(figsize=(25, 25))
    
    for i, t in enumerate(coupling_types, 1):    
        data_df = data[data.type == t].head(count)

        train_df, test_df = partition_data(data_df)

        if len(train_df) < 10 or len(test_df) < 10:
            continue

        print(f'Training {len(train_df)} samples for {t}')

        model = NNModel(dict(molecules=molecules, 
                             structures=structures),
                        nn_args)
        model.fit(train_df, train_df)
        
        break

        print(f'Evaluating {len(test_df)} samples')
        output, score = model.evaluate(test_df, test_df)
        print(f'{t} score: {score} (trained on {len(train_df)} elements)')


        #print(output.shape, test_df.values.shape)
        #pprint(list(zip(output[0:20, 0], test_df.scalar_coupling_constant[0:20])))

        plt.subplot(3, 3, i)
        plt.plot(test_df.scalar_coupling_constant, output, '*')
        mn = min(test_df.scalar_coupling_constant.min(), output.min())
        mx = min(test_df.scalar_coupling_constant.max(), output.max())

        plt.plot([mn, mx], [mn, mx])
        plt.title(t)
                        
    plt.show()
        
test(labelled_enh, 5000)

In [ ]:
mo

In [ ]:
from models import partition_data, NNModel

def train(data):
    models = {}
    for t in sorted(data.type.unique()):
        train_df = data[data.type == t]
        print(f'Training {len(train_df)} samples for {t}')
        model = NNModel(dict(molecules=molecules, 
                             structures=structures),
                        None)
        models[t] = model
        model.fit(train_df, train_df)
    
    return models

models = train(labelled_enh)

In [ ]:
unlabelled_enh.shape

In [ ]:
def predict(data, models):
    out_df = None
    
    for t in sorted(data.type.unique()):
        predict_df = data[data.type == t]
        print(f'Predicting {len(predict_df)} samples for {t}')
        output = models[t].predict(predict_df)
        
        id = predict_df['id']
        out_df_coupling = pd.DataFrame(data={'id':id, 'scalar_coupling_constant':output.flatten()}, index=predict_df.index)
        
        if out_df is None:
            out_df = out_df_coupling
        else:
            out_df = out_df.append(out_df_coupling).sort_index()

    return out_df.sort_index()
    
#%prun -s cumulative f(unlabelled.head(10000))
prediction = predict(unlabelled_enh, models)

In [ ]:
prediction.head()

In [ ]:
prediction.to_csv('../data/pred.csv',index=False)

In [ ]:
import pickle
with open('nn.pickle', 'wb') as f:
    pickle.dump(models, f)

In [ ]:
models